PORT=

MONGO_DB_URI=
MONGO_DB_NAME=


JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
ACCESS_EXPIRES=
REFRESH_EXPIRES=

SMTP_USER=
SMTP_PASS=
MAIL_FROM= 


REACT_APP_CHAPACAR_WPP=
REACT_APP_CHAPACAR_WPP_MSG_DEFAULT=

OPENAI_API_KEY=