node_modules

# Bugster
.bugster/results/
.bugster/screenshots/
.bugster/videos/
.bugster/logs/
.bugster/reports/
.bugster/.env
*.bugster.log
.bugster/paths.json
.bugster/ui_config_cache.json
.bugster/files/
.bugster/*/import_tree.json
.bugster/.sessions/

.env
frontend/node_modules
frontend/dist
dist
build
uploads